<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lá số tử vi</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="frontend/style.css" rel="stylesheet">
    <script src="frontend/jquery.min.js"></script>
    <script src="frontend/jsrender.min.js"></script>
    <script src="frontend/lstv.js"></script>
    <script src="frontend/zebra_tooltips.js"></script>
    <script src="frontend/html2canvas.js"></script>
</head>

<body>

    <div class="masthead">
        <div class="container">
            <h1 class="wordmark">
                Chương trình lập lá số tử vi
            </h1>
            <div class="formborder">
                <form id="lstv">
                    <div class="grid thongtin">
                        <div class="col col-3">
                            Họ tên
                        </div>
                        <div class="col col-9">
                            <input type="text" name="hoten" id="hoten">
                        </div>
                    </div>
                    <div class="grid thongtin">
                        <div class="col col-3">
                            Giới tính
                        </div>
                        <div class="col col-9">
                            <select name="gioitinh" id="gioitinh">
                                <option value="nam">Nam</option>
                                <option value="nu">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid thongtin">
                        <div class="col col-3">
                            Ngày tháng năm sinh
                        </div>
                        <div class="col col-5">
                            <select name="ngaysinh" id="ngaysinh">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select> /
                            <select name="thangsinh" id="thangsinh">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select> /
                            <input type="text" id="namsinh" name="namsinh" placeholder="Năm sinh">
                        </div>

                        <div class="col col-4">
                            Âm lịch?
                            <input type="checkbox" name="amlich">
                        </div>
                    </div>
                    <div class="grid thongtin">
                        <div class="col col-3">
                            Giờ sinh
                        </div>
                        <div class="col col-3">
                            <select name="giosinh" id="giosinh">
                                <option selected="selected" value="1">Tí (23g - 1g)</option>
                                <option value="2">Sửu (1g - 3g)</option>
                                <option value="3">Dần (3g - 5g)</option>
                                <option value="4">Mão (5g - 7g)</option>
                                <option value="5">Thìn (7g - 9g)</option>
                                <option value="6">Tị (9g - 11g)</option>
                                <option value="7">Ngọ (11g - 13g)</option>
                                <option value="8">Mùi (13g - 15g)</option>
                                <option value="9">Thân (15g - 17g)</option>
                                <option value="10">Dậu (17g - 19g)</option>
                                <option value="11">Tuất (19g - 21g)</option>
                                <option value="12">Hợi (21g - 23g)</option>
                            </select>
                        </div>
                        <div class="col col-3">
                            Múi giờ:
                            <select name="muigio" id="muigio">
                                <option value="-12">-12</option>
                                <option value="-11">-11</option>
                                <option value="-10">-10</option>
                                <option value="-9">-9</option>
                                <option value="-8">-8</option>
                                <option value="-7">-7</option>
                                <option value="-6">-6</option>
                                <option value="-5">-5</option>
                                <option value="-4">-4</option>
                                <option value="-3">-3</option>
                                <option value="-2">-2</option>
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">+1</option>
                                <option value="2">+2</option>
                                <option value="3">+3</option>
                                <option value="4">+4</option>
                                <option value="5">+5</option>
                                <option value="6">+6</option>
                                <option value="7" selected>+7 (Vietnam)</option>
                                <option value="8">+8</option>
                                <option value="9">+9</option>
                                <option value="10">+10</option>
                                <option value="11">+11</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid">
                        <input type="button" class="button primary" value="Lập lá số" id="laplaso">
                        <input type="button" class="button warning" value="Lưu lá số" id="luulaso">
                        <input type="button" class="button warning" value="Upload lá số" id="uploadLaso">
                        <input type="text" value="" id="urlLaso" size="50" placeholder="Đường dẫn lá số trên server">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="anlaso laso border" id="laso">
        <div class="grid">
            <div class="col col-3">
                <div class="container">
                    <div class="grid diaCung border-bottom" cung-id="6" id="cungTy5">Tỵ</div>
                    <div class="grid diaCung border-bottom" cung-id="5" id="cungThin">Thìn</div>
                    <div class="grid diaCung border-bottom inset-border" cung-id="4" id="cungMao">Mão</div>
                    <div class="grid diaCung" cung-id="3" id="cungDan">Dần</div>
                </div>
            </div>
            <div class="col col-6">
                <div class="container">
                    <div class="grid">
                        <div class="col col-6 diaCung border-left" cung-id="7" id="cungNgo">Ngọ</div>
                        <div class="col col-6 diaCung border-left" cung-id="8" id="cungMui">Mùi</div>
                    </div>

                    <div class="grid thienBan border-top border-left border-bottom border-right" id="thienBan">

                    </div>
                    <div class="grid">
                        <div class="col col-6 diaCung border-left" cung-id="2" id="cungSuu">
                            Sửu
                        </div>
                        <div class="col col-6 diaCung border-left" cung-id="1" id="cungTy1">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="container">
                    <div class="grid diaCung border-left border-bottom" cung-id="9" id="cungThan">Thân</div>
                    <div class="grid diaCung border-bottom" cung-id="10" id="cungDau">Dậu</div>
                    <div class="grid diaCung border-bottom" cung-id="11" id="cungTuat">Tuất</div>
                    <div class="grid diaCung border-left" cung-id="12" id="cungHoi">Hợi</div>
                </div>
            </div>
        </div>
    </div>

    <script id="cungDiaBan" type="text/x-jsrender">
        <div class="grid cung-top">
            <div class="col col-2 tooltips" title="Địa chi cung {{:cungTen}}">{{:cungTen}}</div>
            <div class="col col-8">
                <span class="cungChu">
                {{:cungChu}}
            </span> {{if cungThan == true}}
                <span class="cungThan label">Thân</span> {{/if}}
            </div>
            <div class="col col-2 tooltips" title="Đại hạn {{:cungDaiHan}} - {{:(cungDaiHan+9)}}">{{:cungDaiHan}}</div>
        </div>
        <div class="grid cung-middle">
            <div class="chinhTinh">
                {{for cungSao}} {{if saoLoai == 1}}
                <li class="{{:cssSao}}">{{:saoTen}} {{if saoDacTinh !== null}} ({{:saoDacTinh}}) {{/if}}
                </li>
                {{/if}} {{/for}}
            </div>

            <div class="phuTinh">
                <div class="saotot">
                    {{for cungSao}} {{if vongTrangSinh === 0 && saoLoai !==1 && saoLoai
                    < 10}} <div class="grid">
                        <div class="col {{:cssSao}}">
                            {{:saoTen}} {{if saoDacTinh !== null}} ({{:saoDacTinh}}) {{/if}}
                        </div>
                </div>
                {{/if}} {{/for}}
            </div>
            <div class="saoxau">
                {{for cungSao}} {{if vongTrangSinh === 0 && saoLoai !==1 && saoLoai > 10}}
                <div class="grid">
                    <div class="{{:cssSao}}">
                        {{:saoTen}} {{if saoDacTinh !== null}} ({{:saoDacTinh}}) {{/if}}
                    </div>
                </div>
                {{/if}} {{/for}}
            </div>
            <div class="tuanTriet">
                {{if trietLo == true}}
                <span class="label label-triet">Triệt</span> {{/if}} {{if tuanTrung == true}}
                <span class="label label-tuan">Tuần</span> {{/if}}

            </div>
        </div>
        </div>
        <div class="grid cung-bottom">
            <div class="col col-3 tooltips" title="Tiểu hạn của năm {{:cungTieuHan}}">{{:cungTieuHan}}</div>
            {{for cungSao}} {{if vongTrangSinh == 1}}
            <div class="col col-6 {{:cssSao}}">
                {{:saoTen}}
            </div>
            {{/if}} {{/for}}
            <div class="col col-3 tooltips" title="Cung ({{if cungAmDuong == -1}}âm{{else}}dương{{/if}}), ngũ hành {{:hanhCung}}">
                {{if cungAmDuong == -1}}-{{else}}+{{/if}}{{:hanhCung}}
            </div>
        </div>
    </script>

    <script id="vungThienBan" type="text/x-jsrender">
        <div class="noidung">
            <div class="header">Ngày xem: {{:today}}</div>
            <div class="grid">
                <div class="col col-3 cotTrai">Họ tên</div>
                <div class="col col-9 cotPhai">{{:ten}}</div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Bát tự</div>
                <div class="col col-9 cotPhai">Năm {{:canNamTen}} {{:chiNamTen}}, tháng {{:canThang}} {{:chiThang}} {{if thangNhuan == 1}} (nhuận) {{/if}}, ngày {{:canNgay}} {{:chiNgay}}, giờ {{:gioSinh}}</div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Tuổi</div>
                <div class="col col-9 cotPhai">{{:amDuongNamSinh}} {{:namNu}} ({{:amDuongMenh}})</div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Ngày sinh</div>
                <div class="col col-9 cotPhai">
                    <div>{{:ngayAm}}/{{:thangAm}}/{{:canNamTen}} {{:chiNamTen}} (Âm lịch)</div>
                    <div>{{:ngayDuong}}/{{:thangDuong}}/{{:namDuong}} (Dương lịch)</div>
                </div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Bản mệnh</div>
                <div class="col col-9 cotPhai">
                    {{:banMenh}}
                </div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Cục</div>
                <div class="col col-9 cotPhai">
                    {{:tenCuc}}
                </div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Mệnh chủ</div>
                <div class="col col-9 cotPhai">
                    {{:menhChu}}
                </div>
            </div>

            <div class="grid">
                <div class="col col-3 cotTrai">Thân chủ</div>
                <div class="col col-9 cotPhai">
                    {{:thanChu}}
                </div>
            </div>

            <div class="grid sinhkhac">
                {{:sinhKhac}}
            </div>

            <div class="mausac">
                <div class="grid">
                    <span class="col col-2">Màu sắc</span>
                    <span class="col col-2 hanhKim gioithieuhanh">Kim</span>
                    <span class="col col-2 hanhThuy gioithieuhanh">Thủy</span>
                    <span class="col col-2 hanhHoa gioithieuhanh">Hỏa</span>
                    <span class="col col-2 hanhTho gioithieuhanh">Thổ</span>
                    <span class="col col-2 hanhMoc gioithieuhanh">Mộc</span>
                </div>
            </div>
    </script>

</body>

</html>